{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"plugin:rxjs/recommended"
	],
	"parserOptions": {
		"project": ["./tsconfig.json"],
		"sourceType": "module",
		"ecmaVersion": 2020
	},
	"rules": {
		"prettier/prettier": ["error", {
			"useTabs": true,
			"semi": true,
			"singleQuote": true,
			"trailingComma": "none",
			"bracketSpacing": false,
			"arrowParens": "always",
			"endOfLine": "lf"
		}]
	}
}